APP_NAME="PHP Blog"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

DB_HOST=mysql
DB_PORT=3306
DB_ROOT_PASSWORD=root
DB_DATABASE=blog
DB_USERNAME=blog_user
DB_PASSWORD=secrethuicret
DB_CHARSET=utf8mb4

SESSION_LIFETIME=120